#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #FFFF00 !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/* Mouse ile üzerine gelince Sarı parlama efekti */
.logo:hover {
  filter: drop-shadow(0 0 2em #FFFF00);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #FFFF00);
}

.card {
  padding: 2em;
  border: 1px solid #FFFF00; /* Kart çerçevesi sarı */
  border-radius: 8px;
  margin-top: 1rem;
}

.read-the-docs {
  color: #FFFF00 !important;
  opacity: 0.7; /* Biraz daha yumuşak bir sarı */
}