@import "tailwindcss";

body {
  /* Beyazımsı Siyah / Çok koyu gri arka plan */
  background-color: #121212 !important; 
  /* Yazıları genel olarak beyaz yapalım ki okunsun */
  color: #f8f9fa !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

#root, .App {
  background-color: #121212 !important;
}