@import "tailwindcss";

/* Kırmızı rozetleri ve arka planları sarıya zorla */
.bg-red-600, .bg-red-500, [class*="red"] {
    background-color: #FFFF00 !important;
    color: #000000 !important;
}

/* Yakında yazılarını gizle */
.badge-yakinda, .text-red-500 {
    display: none !important; 
}